* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: PT Sans,Calibri,sans-serif;
    overflow-x: hidden;
}

/* global css */
:root{
    --header-bg-color: rgb(1, 163, 144);
    --footer-bg-color: rgb(1, 163, 144);
    --text-color: #fff;
    --light-green: #00ad1d;
    --dark-green: #016034;
    --orange: #F35636;
    --light-red: rgb(236, 56, 56);
    --light-grey:#ccc;
    --dark-grey:#999;
    --light-border:#ccc;
    --black:#000;
}

/* header section css */
.header{
    display: flex;
    justify-content:space-between;
    background: var(--orange);
    align-items: center;
    padding: 0px 40px;
}
.nav-items > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:130px;
}
.nav-items ul > li {
    padding: 15px;
    list-style-type: none;
    font-size: 24px;
    color: var(--text-color);
    transition: 10s ease-in-out;
}
.nav-items ul > li a{
    color:var(--text-color);
    text-decoration: none;
}
.loginbtn {
    cursor: pointer;
    border: 0px;
    border-radius: 20px;
    padding: 6px 30px;
    font-size: 26px;
    line-height: 1.6em;
    background: unset;
    color: #fff;
}
/* error css */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h3.error-data {
    color: #FF735C;
}
h3.error-back-home {
    border: 1px solid #FF735C;
    padding: 10px 15px;
    border-radius: 5px;
    background: #FF735C;
    cursor: pointer;
}
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* body section css */
.body{
    padding: 0px 40px;
}

/* restaurant card css */
.res-details svg.svg-inline--fa.fa-star {
    background: #198E3D;
    color: var(--text-color);
    border-radius: 20%;
    padding: 4px 5px 5px 5px;
    /* line-height: 15px; */
    vertical-align: middle;
}
img.res-logo {
    box-sizing: border-box;
    width: 235px;
    object-fit: cover;
    height: 180px;
    border-radius: 20px;
}
.res-details {
    padding: 0px 15px;
}
.res-details p{
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.res-details h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    /* font-size: 14px; */
    overflow: hidden;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.res-container a {
    color: var(--black);
    text-decoration: none;
}
.res-card {
    width: 235px;
    margin: 10px 15px;
}
.res-card:hover{
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
   
}
/* Login Component css*/
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginForm {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    background: antiquewhite;
}
.headerTitle {
    font-size: 30px;
    margin-bottom: 15px;
}
.submitbtn {
    border: 0px;
    padding: 12px 15px;
    margin-top: 15px;
    background: #d2ac7e;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.loginForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
}
input[type="text"],input[type="password"],input[type="email"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.logo-container {
    margin: 10px 0px;
}
label {
    font-size: 20px;
    margin: 12px 0px 7px 0px;
}
/* Shimmer container css */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.shimmer-card{
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }

/*Animation to Shimmer Component Cards */
.stroke {
    height: 15px;
    background: #777;
  }
  .animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  }
  @keyframes shimmer {
    from {
      background-position: -1000px 0;
    }
    to {
      background-position: 1000px 0;
    }
  }

/* main container css */
.maincontainer {
    width: 980px;
    margin: 20px auto;
}

/* filter section css */
.filter {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}
input.search-box {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
}
button.search-btn {
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    padding: 15px 20px;
    background: var(--orange);
    color: var(--text-color);
    border:0px;
}
.search {
    padding: 10px;
    display: flex;
}
.filter-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 15px;
    background: var(--orange);
    color: var(--text-color);
    border: 0px;
}

/* Menu item css */
.menuContainer {
    width: 980px;
    margin: 20px auto;
}
.resDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.ratings {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.rateViews{
    color: var(--dark-green);
    font-weight: 600;
}
.deliveryDetails {
    align-items: center;
    gap: 20px;
    height: 50px;
    display: flex;
    font-weight: 600;
    font-size: 16px;
}
.couponDetails {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.offer {
    border: 1px solid var(--light-grey);
    padding: 10px;
    border-radius: 5px;
    width: 25%;
}
.offer h4{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
}
.menuGrid{
    display: block;
    margin: 20px 0px;
}
.menuItemCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light-grey);
    margin-top: 20px;
}
.menuName {
    flex: 2;
}
.menuPrice {
    line-height: 25px;
    margin-bottom: 10px;
}
.menu-desc {
    font-size: 14px;
    color:var(--dark-grey);
}

/* Footer css */
#footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    background: var(--orange);
    box-shadow: 5px 5px 30px -1px #999;
    margin-top: 20px;
    color: var(--text-color);
}